body {
  background-color: rgb(98, 98, 98);
}

h2, h3 {
  color: whitesmoke;
}

#box {
  text-align: center;
}

#field table {
  display: inline-block;

  border-collapse: collapse;

  font-size: 150%;
  font-family: sans-serif;
  font-weight: bold;
}

#field table td {
  background-color: rgb(195, 195, 195);

  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;

  border: 1px solid black;
}

button {
  background-color: rgb(195, 195, 195);
  color: black;

  width: 100px;
  height: 30px;

  border-radius: 20px;

  font-weight: bolder;
}
